In [1]:
from fastbook import *
from pandas.api.types import is_string_dtype, is_numeric_dtype, is_categorical_dtype
from fastai.tabular.all import *
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from dtreeviz.trees import *
from IPython.display import Image, display_svg, SVG

pd.options.display.max_rows = 20
pd.options.display.max_columns = 8

In [2]:
cred_path = Path('~/.kaggle/kaggle.json').expanduser()
if not cred_path.exists():
    cred_path.parent.mkdir(exist_ok=True)
    cred_path.write_text(creds)
    cred_path.chmod(0o600)

In [3]:
comp = 'bluebook-for-bulldozers'

In [4]:
path = URLs.path(comp)
path
Path.BASE_PATH = path

In [5]:
 from kaggle import api

# if not path.exists():
#     path.mkdir(parents=true)
#     api.competition_download_cli(comp, path=path)
#     shutil.unpack_archive(str(path/f'{comp}.zip'), str(path))

# path.ls(file_type='text')

General Embeddings nodes:
- categorical variabels can be turned into continuous in a process known as embedding

## Loading in Data

In [6]:
df = pd.read_csv(path/'TrainAndValid.csv', low_memory=False)
# Using low_memory = false to ensure less data processing errors (pandas looks over all data)

In [7]:
df.columns

Index(['SalesID', 'SalePrice', 'MachineID', 'ModelID', 'datasource',
       'auctioneerID', 'YearMade', 'MachineHoursCurrentMeter', 'UsageBand',
       'saledate', 'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc',
       'fiModelSeries', 'fiModelDescriptor', 'ProductSize',
       'fiProductClassDesc', 'state', 'ProductGroup', 'ProductGroupDesc',
       'Drive_System', 'Enclosure', 'Forks', 'Pad_Type', 'Ride_Control',
       'Stick', 'Transmission', 'Turbocharged', 'Blade_Extension',
       'Blade_Width', 'Enclosure_Type', 'Engine_Horsepower', 'Hydraulics',
       'Pushblock', 'Ripper', 'Scarifier', 'Tip_Control', 'Tire_Size',
       'Coupler', 'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow',
       'Track_Type', 'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb',
       'Pattern_Changer', 'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type',
       'Travel_Controls', 'Differential_Type', 'Steering_Controls'],
      dtype='object')

In [8]:
# Handling ordinal columns

df['ProductSize'].unique()

array([nan, 'Medium', 'Small', 'Large / Medium', 'Mini', 'Large', 'Compact'], dtype=object)

In [9]:
sizes = 'Large','Large / Medium','Medium','Small','Mini','Compact'
df['ProductSize'] = df['ProductSize'].astype('category')
df['ProductSize'].cat.set_categories(sizes, ordered=True)

0            NaN
1         Medium
2            NaN
3          Small
4            NaN
           ...
412693      Mini
412694      Mini
412695      Mini
412696      Mini
412697      Mini
Name: ProductSize, Length: 412698, dtype: category
Categories (6, object): ['Large' < 'Large / Medium' < 'Medium' < 'Small' < 'Mini' < 'Compact']

In [10]:
dep_var = 'SalePrice'
df[dep_var] = np.log(df[dep_var]) # to match the kaggle submission

In [11]:
df = add_datepart(df, 'saledate') # using a fast-ai function to turn dates into a series of metadata columns

/home/kyan/mambaforge/lib/python3.10/site-packages/fastai/tabular/core.py:23: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.

In [12]:
df_test = pd.read_csv(path/'Test.csv', low_memory=False)
df_test = add_datepart(df_test, 'saledate')

/home/kyan/mambaforge/lib/python3.10/site-packages/fastai/tabular/core.py:23: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.

In [14]:
# this creates lots of new columns
" ".join([o for o in df.columns if o.startswith("sale")])

'saleYear saleMonth saleWeek saleDay saleDayofweek saleDayofyear saleIs_month_end saleIs_month_start saleIs_quarter_end saleIs_quarter_start saleIs_year_end saleIs_year_start saleElapsed'

Further cleaning using fast-ai TabularPandas

In [15]:
procs = [Categorify, FillMissing]
#turns columns into numeric categorical columns and fillmissing replaces missing with median, and marks row as true

In [18]:
df.saleYear < 2011

0          True
1          True
2          True
3         False
4          True
          ...
412693    False
412694    False
412695    False
412696    False
412697    False
Name: saleYear, Length: 412698, dtype: bool

In [19]:
# We can split our training data into train and test sets based on date
cond = (df.saleYear < 2011) | ((df.saleYear ==  2011) & (df.saleMonth < 10))
train_idx = np.where( cond)[0]
test_idx = np.where(~cond)[0]

#np.where returns array of trues

In [21]:
splits = list(train_idx), list(test_idx)

In [22]:
cont,cat = cont_cat_split(df, 1, dep_var=dep_var)

In [23]:
# to = TabularPandas(df, procs, cat, cont, y_names=dep_var, splits=splits)
to = (path/'to.pkl').load()

In [24]:
len(to.train),len(to.valid)

(393137, 19561)

In [26]:
to.show(3) #

In [27]:
# underlying is still numeric
to.items.head(3)

,SalesID,SalePrice,MachineID,ModelID,...,saleIs_year_start,saleElapsed,auctioneerID_na,MachineHoursCurrentMeter_na
0,1139246,11.097410,999089,3157,...,1,1.163635e+09,1,1
1,1139248,10.950807,117657,77,...,1,1.080259e+09,1,1
2,1139249,9.210340,434808,7009,...,1,1.077754e+09,1,1

In [28]:
# save_pickle(path/'to.pkl',to)