In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

In [3]:
iris = sns.load_dataset('iris')

### Pandas

### Index operations

In [7]:
1%0

ZeroDivisionError: integer division or modulo by zero

### Selecting Columns and Rows

In [4]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [5]:
iris['species'] # select one column

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [6]:
iris[['species']] #select one column as a pd dataframe

       species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]